{% extends '_layout.twig' %}
    
{% block content %}
{% include '_nav.twig' with {'active_home' : 'active' } %}

    <div class="container" id="whole">

    <header>
        <h1>OpenSearchServer php client demo</h1>
        <p class="lead">This web app shows some API calls that can be made to an OpenSearchServer instance with OpenSearchServer PHP client.</p>
    </header>

    </div><!-- /.container -->
{% endblock %}