{% extends '_layout.twig' %}
    
{% block content %}
{% include '_nav.twig' with {'active_search' : 'active' } %}

    <div class="container" id="whole">

        <header>
            <h1>Search</h1>
            <p class="lead">Search features.</p>
        </header>
        
    </div><!-- /.container -->
{% endblock %}